@model IEnumerable<SportsEventsGenNHibernate.EN.SportsEvents.EventoEN>

@{
    ViewBag.Title = "Index";
}




<div class="container">
    <div class="row">
        <h2 style="color:limegreen;">Todos los eventos</h2>
    </div>
  

    @foreach (var item in Model)
    {

        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <h3>@Html.ActionLink(@item.Nombre, "../Evento/Details", new { id = @item.Id })</h3>


            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-md-2 col-lg-2">
                @if (@item.Categoria.Nombre == "Futbol")
                {

                    <img src="~/Images/Futbol.jpg" class="img-thumbnail" alt="Cinque Terre" width="96" height="96">
                }
                else if (@item.Categoria.Nombre == "Baloncesto")
                {
                    <img src="~/Images/Baloncesto.jpg" class="img-thumbnail" alt="Cinque Terre" width="96" height="96">
                }
                else if (@item.Categoria.Nombre == "Tenis")
                {
                    <img src="~/Images/Tenis.jpg" class="img-thumbnail" alt="Cinque Terre" width="96" height="96">
                }
                else if (@item.Categoria.Nombre == "Padel")
                {
                    <img src="~/Images/Padel.jpg" class="img-thumbnail" alt="Cinque Terre" width="96" height="96">
                }
                else if (@item.Categoria.Nombre == "Atletismo")
                {
                    <img src="~/Images/Atletismo.jpg" class="img-thumbnail" alt="Cinque Terre" width="96" height="96">
                }


            </div>
            <div class="col-xs-12 col-md-8 col-lg-8">
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-lg-8">
                        @item.Descripcion

                    </div>


                    <div class="col-xs-12 col-md-12 col-lg-12">

                        <br />
                        <div class="btn-group">
                            <a href="@Url.Action("Details", "Evento", new { id = @item.Id })" class="btn btn-default">
                                Detalles
                                
                            </a>
                            <a href="@Url.Action("Edit", "Evento", new { id = @item.Id })" class="btn  btn-default">
                                Editar
                            </a>
                            <a href="@Url.Action("Delete", "Evento", new { id = @item.Id })" class="btn  btn-default">
                                 Eliminar
                            </a>

                        </div>

                    </div>


                </div>


            </div>



        </div>



    }
</div>


   

   <a href="@Url.Action("Administrar", "Usuario")" class="btn btn-default">
    Volver al menú de administrador
    <span class="glyphicon glyphicon" aria-hidden="true"></span>
</a>