@model SportsEvents_FrontEnd.Models.EventoModelo

@{
    ViewBag.Title = "Home Page";
}

<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <body>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12">
                <img class="img-responsive" src="http://cliparts.co/cliparts/8T6/ogE/8T6ogEGpc.png">
            </div>
        </div>
        <div class="jumbotron" style="text-align:center; height:50%;background-color:white;">


            <div class="form-group">

                <div class="row">
                    <div class="col-md-10 col-lg-10 col-xs-12">
                        <input class="form-control input-lg" id="inputlg" type="search" placeholder="Encuentra eventos deportivos cercanos...">
                    </div>
                    <script>
                        function buscar() {
                            var nom = document.getElementById("inputlg").value;
                            window.location.assign("http://localhost:49206/Evento/BusquedaAvanzada/Nombre_" + nom);
                        }

                    </script>
                    <div class="col-md-2 col-lg-2 col-xs-12">
                        <a onclick="buscar()" class="btn btn-success btn-lg">
                            <span class="glyphicon glyphicon-search"></span> Buscar
                        </a>
                    </div>
                </div>






            </div>


        </div>


        <div class="container">

            <hr />
            <h2>Últimos eventos en SportsEvents</h2>
            @foreach (var item in (List<SportsEventsGenNHibernate.EN.SportsEvents.EventoEN>)@ViewData["lista"])
            {
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <h3>@Html.ActionLink(@item.Nombre, "../Evento/Details", new { id = @item.Id })</h3>


                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-md-2 col-lg-2">
                        @if (@item.Categoria.Nombre == "Futbol")
                        {

                            <img src="~/Images/Futbol.jpg" class="img-thumbnail" alt="Cinque Terre" width="96" height="96">
                        }
                        else if (@item.Categoria.Nombre == "Baloncesto")
                        {
                            <img src="~/Images/Baloncesto.jpg" class="img-thumbnail" alt="Cinque Terre" width="96" height="96">
                        }
                        else if (@item.Categoria.Nombre == "Tenis")
                        {
                            <img src="~/Images/Tenis.jpg" class="img-thumbnail" alt="Cinque Terre" width="96" height="96">
                        }
                        else if (@item.Categoria.Nombre == "Padel")
                        {
                            <img src="~/Images/Padel.jpg" class="img-thumbnail" alt="Cinque Terre" width="96" height="96">
                        }
                        else if (@item.Categoria.Nombre == "Atletismo")
                        {
                            <img src="~/Images/Atletismo.jpg" class="img-thumbnail" alt="Cinque Terre" width="96" height="96">
                        }


                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-8">
                        <div class="row">
                            <div class="col-xs-12 col-md-8 col-lg-8">
                                @item.Descripcion

                            </div>


                            <div class="col-xs-12 col-md-12 col-lg-12">

                                <br />
                                <div class="btn-group">
                                    <a href="@Url.Action("Details", "Evento", new { id = @item.Id })" class="btn btn-warning">
                                        Ir a evento
                                        <span class="glyphicon glyphicon" aria-hidden="true"></span>
                                    </a>
                                    @if (Request.IsAuthenticated)
{
                                               var userName4 = System.Web.HttpContext.Current.User.Identity.Name;
                                        <a href="@Url.Action("Inscribirse", "Evento", new{id=@item.Id, var=userName4})" class="btn btn-primary btn-success">
                                            <span class="glyphicon glyphicon-plus"></span> Inscribirse
                                        </a>
                                    }
                                    <a href="javascript:void(0);" class="btn  btn-primary" onclick="abrir()"><img src="~/Images/facebook.png" width="20"> Compartir <span class="glyphicon glyphicon-share-alt"></span> </a>
                                    <script>
                                        function abrir() {
                                            window.open("http://www.facebook.com/sharer.php?u=https://www.facebook.com/SportsEvents-204659166620170", 'ventanacompartir', 'toolbar=0, status=0, width=650, height=450');
                                        }
                                    </script>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
        <div class="lateral-derecho">

            <div class="calendario">
                <h1>Síguenos en Facebook</h1>
                <div class="facebook"><div class="fb-page" data-href="https://www.facebook.com/SportsEvents-204659166620170" data-tabs="biografia" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div></div>
            </div>

        </div>

    </body>
    <script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.5&appId=734066990003524";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
