@model IEnumerable<SportsEventsGenNHibernate.EN.SportsEvents.UsuarioEN>

@{
    ViewBag.Title = "Index";
}

<h2>Todos los usuarios</h2>


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nick)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bloqueado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Localidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provincia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nick)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bloqueado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Localidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provincia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)

        </td>
        <td>
            <a href="@Url.Action("Delete", new { id = item.Nick })" class=" btn btn-primary">
                Borrar usuario
                <span class="glyphicon glyphicon" aria-hidden="true"></span>
            </a>

        </td>
    </tr>
}

</table>
<a href="@Url.Action("Administrar", "Usuario")" class="btn btn-default">
    Volver al menú de administrador
    <span class="glyphicon glyphicon" aria-hidden="true"></span>
</a>