@{ var userName = System.Web.HttpContext.Current.User.Identity.Name;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - SportsEvents</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
    <link href='~/Content/Site.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

    <div class="content">
        <!--    <div class=" float-left">
               <p class="site-title" >@Html.ActionLink("SportsEvents", "Index", "Home")</p>
           </div>
           <div class="float-right" >
               <section id="login" >
                   @Html.Partial("_LoginPartial")
               </section>
               <nav>
                   <ul id="menu"  >
                       <li>@Html.ActionLink("Buscar evento", "Busqueda", "Evento")</li>
                       <li>@Html.ActionLink("Crear evento", "Create", "Evento")</li>
                       <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                       <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                       <li>@Html.ActionLink("Soporte al usuario", "Create", "Soporte")</li>

                   </ul>
               </nav>
           </div>-->
        <p><a class="navbar-brand" href="/Home/Index" style="color:limegreen; font-size: 24px;">SportsEvents</a></p>
        <nav id="cssmenu">
            <input type="checkbox" id="menu-trigger">
            <ul>
                <li><label id="menuh" for="menu-trigger">&equiv; MENU</label></li>
                <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                <li>@Html.ActionLink("Buscar eventos", "BusquedaAvanzada", "Evento")</li>
                @if (userName != "")
                {
                    <li>@Html.ActionLink("Crear evento", "Create", "Evento")</li>}

                <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                @if (userName != "")
                {
                    <li>@Html.ActionLink("Soporte al usuario", "Create", "Soporte") </li>}

                @if (Request.IsAuthenticated)
                {
                    <text>
                        ¡Hola, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Administrar" })!
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
                        }
                    </text>
                }
                else
                {

                    <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

                }
            </ul>
        </nav>

        <!--
        <nav class="navbar navbar-default" style="background-color:black; border-color:black; border-radius:0;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/Home/Index" style="color:limegreen; font-size: 24px;">SportsEvents</a>
                </div>
                <ul class="nav navbar-nav">





                </ul>


            </div>
        </nav>
        -->
    </div>

    <div id="body" style="background-color:white;">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer style="background-color:black;">
        <div class="content-wrapper">
            <div class="float-left">
                <p>
                    <br /> @DateTime.Now.Year - SportsEvents
                    <br /> Universidad de Alicante
                    <br /> Diseño de Sistemas Multimedia
                    <br /> Los LLumas
                </p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>

