@model IEnumerable<SportsEventsGenNHibernate.EN.SportsEvents.ReporteEN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Todos los reportes</h2>


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Texto)
        </th>
        <th>@Html.DisplayNameFor(model => model.Motivo)</th>
        <th>@Html.DisplayNameFor(model => model.Tipo)</th>
        <th>@Html.DisplayNameFor(model => model.Usuario.Nick)</th>
        <th>Id del contenido reportado</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Texto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Motivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Nick)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Evento.Id)
            @Html.DisplayFor(modelItem => item.Foto.Id)
            @Html.DisplayFor(modelItem => item.Comentario.Id)
        </td>
    


        <td>
            <a href="@Url.Action("Details", "Reporte", new { id = item.Id }) " class=" btn btn-primary">
                Detalles
                <span class="glyphicon glyphicon" aria-hidden="true"></span>
            </a>
            <a href="@Url.Action("Delete", "Reporte", new { id = item.Id }) " class=" btn btn-primary">
            Borrar
            <span class="glyphicon glyphicon" aria-hidden="true"></span>
            </a>
            
        </td>
    </tr>
}

</table>
<a href="@Url.Action("Administrar", "Usuario")" class="btn btn-default">
    Volver al menú de administrador
    <span class="glyphicon glyphicon" aria-hidden="true"></span>
</a>